.menu {
  background-color: #eee;
}
.plate {
  size: 12px;
}
.menu-item {
  border: 2px solid #555;
  border-radius: 5px;
}
.plate,
.food-item {
  border: 1px solid #aaa;
}
.add-btn {
  background-color: #fff;
}
.price {
  background-color: #aaf;
}
.ing-cont {
  display: inline-block;
}
.price-cont {
  display: inline-block;
  text-align: center;
}
.menu-order {
  display: inline-block;
  width: 30%;
  vertical-align: top;
  background-color: #eee;
  border: 5px solid #000;
}
.menu-is {
  background-color: #f00;
  border: 6px solid #f00;
}
